<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("AdditionalResources", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

    @Html.DevExpress().GetStyleSheets(
       new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme= "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.VerticalGrid, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList, Theme = "MaterialCompact" }
   )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.VerticalGrid },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.TreeList }
    )
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Empire Electronics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>

</body>
</html>